@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Crete+Round:ital@1&family=Noticia+Text:ital@1&family=Noto+Serif+Display:ital,wght@1,300&family=Playfair+Display:ital@1&family=Prata&family=Roboto&family=Source+Code+Pro&display=swap');


.line{
    width:50vw;
    height: 5px;
    background-image: linear-gradient(to right, lightblue, red);
    margin-top: 60px;
}


.techTitle{
    font-size: 2.5rem;
    margin-top: 40px;
    font-family: "Cairo";
    font-weight: 400;
    text-transform: uppercase;

}
.container h3{
    font-size:2.1rem;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-family: "Source Code Pro";
}

.list{
    display: flex;

}

.listContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.list > li{
    margin-left: 15px;
    border: 2.5px solid rgb(26, 209, 209);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    padding:15px;
    text-align: center;
}


@media screen and (max-width:600px) {
    .techTitle{
        font-size: 2rem;
    }
        .list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .list li{
            width:50vw;
            margin-top: 40px;
        }
}